.notification {
  position: fixed;
  top: 20px;
  right: 30px;
  padding: 10px;
  background-color: #ffffff;
  display: none;
  z-index: 20;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  width: 250px;
}

.active {
  display: flex;
}

